[submodule "layers/poky"]
	path = layers/poky
	url = https://github.com/MontaVista-OpenSourceTechnology/poky.git
	branch = gatesgarth
[submodule "layers/meta-openembedded"]
	path = layers/meta-openembedded
	url = https://github.com/MontaVista-OpenSourceTechnology/meta-openembedded.git
	branch = gatesgarth
[submodule "layers/meta-clang"]
	path = layers/meta-clang
	url = https://github.com/MontaVista-OpenSourceTechnology/meta-clang.git
	branch = gatesgarth
[submodule "layers/meta-virtualization"]
	path = layers/meta-virtualization
	url = https://github.com/MontaVista-OpenSourceTechnology/meta-virtualization.git
	branch = gatesgarth 
[submodule "layers/meta-montavista-cgx"]
	path = layers/meta-montavista-cgx
	url = https://github.com/MontaVista-OpenSourceTechnology/meta-montavista-cgx.git 
	branch = gatesgarth
[submodule "layers/meta-selinux"]
	path = layers/meta-selinux
	url = https://github.com/MontaVista-OpenSourceTechnology/meta-selinux.git
    branch = gatesgarth 
[submodule "layers/meta-security"]
	path = layers/meta-security
	url = https://github.com/MontaVista-OpenSourceTechnology/meta-security.git
	branch = gatesgarth
[submodule "layers/meta-cgl"]
	path = layers/meta-cgl
	url = https://github.com/MontaVista-OpenSourceTechnology/meta-cgl.git
[submodule "layers/meta-cloud-services"]
	path = layers/meta-cloud-services
	url = https://github.com/MontaVista-OpenSourceTechnology/meta-cloud-services.git
	branch = gatesgarth
[submodule "layers/meta-montavista-cgl"]
	path = layers/meta-montavista-cgl
	url = https://github.com/MontaVista-OpenSourceTechnology/meta-montavista-cgl
	branch = gatesgarth 
[submodule "layers/meta-qa"]
	path = layers/meta-qa
	url = https://github.com/MontaVista-OpenSourceTechnology/meta-qa.git
	branch = gatesgarth
[submodule "layers/meta-updater"]
	path = layers/meta-updater
	url = https://github.com/MontaVista-OpenSourceTechnology/meta-updater
[submodule "layers/meta-arm"]
	path = layers/meta-arm
	url = https://github.com/MontaVista-OpenSourceTechnology/meta-arm
	branch = gatesgarth
[submodule "layers/meta-freescale"]
	path = layers/meta-freescale
	url = https://github.com/MontaVista-OpenSourceTechnology/meta-freescale
	branch = gatesgarth
[submodule "layers/meta-freescale-3rdparty"]
	path = layers/meta-freescale-3rdparty
	url = https://github.com/MontaVista-OpenSourceTechnology/meta-freescale-3rdparty
	branch = gatesgarth
[submodule "layers/meta-raspberrypi"]
	path = layers/meta-raspberrypi
	url = https://github.com/MontaVista-OpenSourceTechnology/meta-raspberrypi
	branch = gatesgarth
[submodule "layers/meta-rtlwifi"]
	path = layers/meta-rtlwifi
	url = https://github.com/MontaVista-OpenSourceTechnology/meta-rtlwifi
	branch = gatesgarth
[submodule "layers/meta-intel"]
	path = layers/meta-intel
	url = https://github.com/MontaVista-OpenSourceTechnology/meta-intel
	branch = gatesgarth
[submodule "layers/meta-xilinx"]
	path = layers/meta-xilinx
	url = https://github.com/MontaVista-OpenSourceTechnology/meta-xilinx
	branch = gatesgarth
[submodule "layers/meta-xilinx-tools"]
	path = layers/meta-xilinx-tools
	url = https://github.com/MontaVista-OpenSourceTechnology/meta-xilinx-tools
	branch = gatesgarth
[submodule "layers/meta-lmp"]
	path = layers/meta-lmp
	url = https://github.com/foundriesio/meta-lmp
	branch = gatesgarth
[submodule "layers/meta-riscv"]
	path = layers/meta-riscv
	url = https://github.com/MontaVista-OpenSourceTechnology/meta-riscv
	branch = gatesgarth
